img {
  max-width: 200px;
  border: 1px solid black;
}
.parent {
   display: flex;
}
.child {
  width: 100px;
}
.child.dank {
    width: calc(200px + (20px * 2));
}
.stack {
  position: absolute;
}
.stack:nth-child(1) {
  top: 0px;
}
.stack:nth-child(2) {
  top: 20px;
  left: 20px;
}
.stack:nth-child(3) {
  top: 40px;
  left: 40px;
}
.stack:nth-child(4) {
  top: 40px;
  left: 40px;
}

